<footer class="pan-footer">
  <div class="pan-footer__wrapper">
    <p class="pan-footer__text">2025 &copy; Mónica Natalia Hernández Barrera</p>
    <p class="pan-footer__text">Página basada en <a class="pan-footer__link" href="https://github.com/uoc-advanced-html-css/uoc-boilerplate">UOC Boilerplate</a></p>
    <p class="pan-footer__text">Para la asignatura Herramientas <abbr class="pan-footer__abbr" title="HyperText Markup Language">HTML</abbr> y <abbr class="pan-footer__abbr" title="Cascading Style Sheets">CSS</abbr> II.</p>
    <p class="pan-footer__text">Máster en Desarrollo de Sitios y Aplicaciones Web de la <abbr class="pan-footer__abbr" title="Universitat Oberta de Catalunya">UOC</abbr>.</p>
  </div>
</footer>
