<header class="pan-header">
    <div class="pan-header__logo-wrapper">
        <picture>
            <source srcset="./assets/images/pandebono128.png?as=webp" type="image/webp">
            <img class="pan-header__logo" src="./assets/images/pandebono128.png" alt="Ícono de tres pandebonos sonrientes en una canasta" width="auto" height="auto">
        </picture>
    </div>
    <nav class="pan-header__nav">
        <ul class="pan-header__nav-list">
            <li class="pan-header__nav-item"><a href="#presentation" class="pan-header__nav-link">¿Qué es el pandebono?</a></li>
            <li class="pan-header__nav-item"><a href="#ingredients" class="pan-header__nav-link">Ingredientes</a></li>
            <li class="pan-header__nav-item"><a href="#recipe" class="pan-header__nav-link">Receta</a></li>
            <li class="pan-header__nav-item"><a href="#attributions" class="pan-header__nav-link">Atribuciones</a></li>
        </ul>
    </nav>
</header>