@font-face {
    font-family: "Caveat";
    font-weight: 400;
    src: url("../fonts/Caveat-VariableFont_wght.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Patrick Hand";
    font-weight: 400;
    src: url("../fonts/PatrickHand-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Patrick Hand";
    font-weight: 800;
    src: url("../fonts/PatrickHand-Regular.ttf") format("truetype");
    font-display: swap;
}